body {
    background: #CCCCCC;
}

h1{ text-align: center;
    font-size: 50px;
    color: red;
}

.p1{ text-align: justify;
    font-size: 20px;
    color:darkgreen
}

.p2{ text-align: justify;
    font-size: 20px;
    color: rgb(152, 236, 7);
}

.p3{ text-align: justify;
    font-size: 20px;
    color: forestgreen;
}

#titulo1{
    color:red
}

#banner{
   width: 100%;
}


#banner2{
    display: block;
    margin: 0 auto;
}
strong{
    color: blue;
}
